:root {
    --orange: #ef6d23;
    --lilac-light: #f2effe;
    --yellow-light: #f5eec2;
    --very-peri: #6667ab;
    --green-dark: #416a59;
    --white-pure: #fff;
    --text-default: black;
    --font-title: 'IBM Plex Sans';
    --font-default: 'Roboto';
}

/* general settings */
* {
    max-width: 100%;
}

body {
    font-family: var(--font-title), sans-serif;

}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: var(--very-peri)
}

.rounded-circle {
    height: 70px;
    width: 70px;
}

a:hover {
    color: var(--orange);
}

ul {
    list-style: none;
}

.main-bg {
    background-color: var(--lilac-light);
}

.btn {
    background-color: var(--orange);
    color: #fff;
}

.btn:hover,
.btn:active {
    background-color: #fff;
    color: var(--orange);
}

/* sidebar-box */
.sidebar-most-commented,
.sidebar-latest {
    background-color: var(--white-pure);
}



/* card elements */
.card-bg,
.comments {
    background-color: var(--white-pure);
}

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    font-family: var(--font-title), sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0 30px;
    line-height: 110%;
    color: var(--text-default);
}

.card-text {
    font-family: var(--font-default), sans-serif;
    padding: 0 30px;
    line-height: 180%;
    font-size: .9375rem;
    line-height: 1.5rem;
    display: inline-block;
    color: var(--text-default)
}

.post-body {
    
}

.pipe {
    padding: 0 8px;
}

.text-details {
    color: var(--very-peri);
}

.tags,
.author,
.header-link {
    text-decoration: underline;
}

/* detail.html */
.post-title {
    text-decoration: none;
    color: var(--text-default);
}

.container-detail {
    background-color: var(--white-pure);
}

.post-title:hover,
.page-link {
    color: var(--orange);
    text-decoration: none;
}

.image-detail {
    opacity: .6;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.btn-dislike {
    color: blue;
    border: none;
    background: transparent;
}

.btn-dislike:hover,
.btn-dislike:active {
    color: blue;
    background: transparent;
    border: none;
}

/* footer */
.footer-bg {
    background-color: var(--very-peri);
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}