:root {
    --orange: #ef6d23;
    --lilac-light: #f2effe;
    --yellow-light: #f5eec2;
    --very-peri:#6667ab;
    --green-dark: #416a59;
    --white-pure: #fff;
    --text-default: black;
    --font-title: 'IBM Plex Sans';
    --font-default: 'Roboto';
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-title), sans-serif;;
}

.light-bg {
    background-color: var(--lilac-light);
}
.card-bg,
.title-detail-bg,
.comments-bg {
    background-color: var(--white-pure);
}
.footer-bg {
    background-color: var(--orange);
} 

.main-bg {
    background-color: var(--lilac-light);
}

.nav-bg {
    background-color: var(--lilac-light);
}

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    font-family: var(--font-title), sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0 30px;
    line-height: 110%;
    color: var(--text-default);
}

.card-text {
    font-family: var(--font-default), sans-serif;
    padding: 0 30px;
    line-height: 180%;
    font-size: .9375rem;
    line-height: 1.5rem;
    display: inline-block;
    color: var(--text-default)
}

.pipe {
    padding: 0 8px;
}

.text-details {
    color: var(--very-peri); 

}
.nav-link {
    font-family: var(--font-title);
    color: var(--very-peri);
}
.nav-link:hover{
    color:var(--orange)
}
.nav-link.active {
    color: var(--text-default);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.post-title {
    text-decoration: none;
    color: var(--text-default);
}

.post-title:hover,
.page-link {
    color: var(--orange);
    text-decoration:none;
}

/* .post-title {
    margin-top: 20%;
    margin-left: 5%;
} */

/* .post-subtitle {
    margin-left: 5%;
    color: lightgray;
} */

.btn {
    background-color: var(--very-peri);
    color: #fff;
}

.btn:hover,
.btn:active {
    background-color: #fff;
    color: var(--orange);
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: blue;
    background: transparent;
    border: none;
}

.btn-dislike {
    color: blue;
    border: none;
    background: transparent;
}

.btn-dislike:hover,
.btn-dislike:active {
    color: blue;
    background: transparent;
    border: none;
}