{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- TITLE -->
<div class="container container-detail mb-4 p-4">
    <div class="row title-detail">
        <div class="col-xl-10 align-self-center">
            <h1 class="post-title pb-3 m-0">What is Boxscape?</h1>
                <p class="card-text text-details h6 "> BY <a class="author" href="#">
                    CLA-CIF |</a> Founder
                </p>
        </div>
        <div class="col-xl-2 align-self-center">
            <img class="image-detail" src="{% static 'detail.jpg' %}" width="130" alt="">
        </div>
    </div>
</div>

<!-- POST BODY -->
<div class="container container-detail mb-3">
    <div class="row body-detail m-0">
        <!-- POST-BODY -->
        <div class="col-xl-12">
            <p class="post-body m-0">
                Cat ipsum dolor sit amet, nya nya nyan touch water with paw then recoil in horror. Kitten is playing
                with dead mouse head nudges hiding behind the couch until lured out by a feathery toy and instantly
                break out into full speed gallop across the house for no reason, attempt to leap between furniture but
                woefully miscalibrate and bellyflop onto the floor; what's your problem? i meant to do that now i shall
                wash myself intently when in doubt, wash. Meeeeouw. Cats are cute murf pratt ungow ungow jump off
                balcony, onto stranger's head, intently sniff hand. Snob you for another person meow go back to sleep
                owner brings food and water tries to pet on head, so scratch get sprayed by water because bad cat cats
                secretly make all the worlds muffins, so i see a bird i stare at it i meow at it i do a wiggle come here
                birdy purr when give birth give attitude. Shed everywhere shed everywhere stretching attack your ankles
                chase the red dot, hairball run catnip eat the grass sniff peer out window, chatter at birds, lure them
                to mouth. Meow i like to spend my days sleeping and eating fishes that my human fished for me we live on
                a luxurious yacht, sailing proudly under the sun, i like to walk on the deck, watching the horizon,
                dreaming of a good bowl of milk for meow meow you are my owner so here is a dead rat and eat all the
                power cords and destroy couch as revenge, and hey! you there, with the hands. Chew master's slippers
                meow be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day chase
                imaginary bugs leave buried treasure in the sandbox for the toddlers. do not try to mix old food with
                new one to fool me! sleeps on my head.
            </p>
            <p class="post-body">
                <h3>Code of conduct</h3>
            </p>
        </div>
        {%endblock%}