{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- TITLE -->
<div class="container container-detail mb-4 p-4">
    <div class="row title-detail">
        <div class="col-xl-10 align-self-center">
            <h1 class="post-title pb-3 m-0">What is Boxscape?</h1>
            <p class="card-text text-details h6 "> BY
                CLA-CIF | Founder
            </p>
        </div>
        <div class="col-xl-2 align-self-center">
            <img class="image-detail" src="{% static 'detail.jpg' %}" width="130" alt="the blog logo an open box laying on its side">
        </div>
    </div>
</div>

<!-- MAIN SECTION -->
<div class="container container-detail mb-3">
    <div class="row body-detail m-0">
        <!-- PRESENTATION, CODE OF CONDUCT, ENFORCEMENT -->
        <div class="row mt-4">
            <h3 class="mt-4" style="padding-left: 60px;">Hey there!</h3>
            <div class="col-xl-12">
                <p class="about-body">
                    The <strong>Boxscape</strong> is a blog for people whose ideas break out of the box (escape), it's a place for
                    independent thinkers. <br>How do you know if this blog is right for you?<br> An independent thinker is
                    someone
                    who analyses situations as they see fit, rather than conforming to public opinion. They evaluate
                    multiple perspectives, gather evidence, ask questions and use their <strong>critical thinking</strong> skills. Even
                    when
                    their decisions contradict the opinions of others, independent thinkers remain convinced of their
                    values.<br>
                    At Boxscape, we believe in <strong>freedom</strong> of expression and in respecting the opinions, identities,
                    preferences, religions and cultures of others.
                    Everyone is welcome as long as they <strong>respect</strong> each other's uniqueness, dignity and freedom.
                    We like people who contribute to making this a safe space.
                </p>
            </div>
        </div>
        <div class="row">
            <h3 style="padding-left: 60px;">Code of Conduct</h3>
            <div class="col-xl-12 about-body">
                <h5>Be kind and courteous</h5>
                We're all in the same boat to create a welcoming environment. Let's treat everyone with
                respect. Healthy
                debate is natural, but kindness is needed.
                <h5>No hate speech, bullying, abusive behaviour</h5>
                Make sure everyone feels safe. Bullying of any kind isn't allowed and derogatory remarks
                about things
                like ethnicity, religion, culture, sexual orientation, gender or identity won't be
                tolerated.
                <h5>No advertising or spam</h5>
                Give more than you take in this group. Self-promotion, spam and irrelevant links aren't
                allowed.
                <h5>Respect the privacy of others</h5>
                Participation in this group requires mutual trust. Authentic, expressive discussions make
                groups great,
                but can also be sensitive and private. What's shared in the group should stay in the group.
                <h5>Use only English.</h5>
                To ensure that all group members understand you, please use English only.
                <h5>Stay on topic.</h5>
                We only allow posts and comments that are related to the activities of the group. Off-topic
                content will
                be removed and you'll receive a warning.
                <h5>Report rule violations. </h5>
                If you see a post/comment that breaks our rules, report it to the admins - DON'T
                verbally attack the author of the post/comment.
                <h5>No promotion of terrorism</h5>
                We adopt the UN definition of terrorism as any act "intended to cause death or serious
                bodily harm to
                civilians or non-combatants for the purpose of intimidating a population or coercing a
                government or
                international organisation to perform or refrain from performing an act".
                <h5>No violation of the law</h5>
                This means strictly NO Promotion/Sharing/Enactment of:<br>
                Self-harm, Drugs & Dangerous Products, Terrorism, Violence, Hate & Harassment, Sexual
                Content, Deception &
                Minisformation, Impersonation & Malicious Content, No Copyright Infringement/Content
                Ownership.
            </div>
        </div>
        <div class="row mb-4">
            <h3 style="padding-left: 60px;">Enforcement</h3>
            <div class="col-xl-12 about-body">
                We will investigate reports of potential violations of our Code of Conduct and, if we
                are able to confirm such reports, we will take action against the relevant users.
                Our enforcement actions can include education, warnings, temporary suspensions, and in the case of more serious
                violations a permanent ban.
                We will share our enforcement decision with the person against who the violation was filed. To respect privacy,
                we will generally not disclose enforcements to the wider community, but reserve the right to do so when it is in
                the public interest.
            </div>
        </div>
    </div>
</div>
{%endblock%}