{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Boxscape</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
        integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- NAVIGATION -->
    <div class="container">
        <div class="row pt-4 pb-4 m-0">
            <div class="col-xl-4">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'logo.jpg' %}" width="auto"
                        height="100"></a>
            </div>

            <div class="col-xl-8 align-self-center">
                <div class="row m-0">
                    <div class="col-xl-3 col-md-1 d-flex justify-content-center">
                        <a class="header-link" aria-current="page" href="{% url 'home' %}">HOME</a>
                    </div>
                    <div class="col-xl-3 col-md-1 d-flex justify-content-center">
                        <a class="header-link" aria-current="page" href="{% url 'about' %}">ABOUT</a>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-xl-3 col-md-1 d-flex justify-content-center">
                        <a class="header-link" href="{% url 'account_logout' %}">LOGOUT</a>
                    </div>
                    {% else %}
                    <div class="col-xl-3 col-md-1 d-flex justify-content-center">
                        <a class="header-link" href="{% url 'account_signup' %}">REGISTER</a>
                    </div>
                    <div class="col-xl-3 col-md-1 d-flex justify-content-center">
                        <a class="header-link" href="{% url 'account_login' %}">LOGIN</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- ALERT MESSAGES -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="row alert alert-success d-flex {{ message.tags}} alert-dismissable fade show" id="msg"
                    role="alert">
                    <div class="col-11">{{ message | safe }}</div>
                    <div class="col-1">
                        <button type="button" class="btn-close d-flex align-items-end" data-bs-dismiss="alert"
                            aria-label="close"></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- BLOCK CONTENT -->
    <main class="flex-shrink-0 main-bg">
        {% block content %}

        {% endblock content %}
    </main>

    <!-- FOOTER -->
    <footer class="footer mt-auto p-4 footer-bg">
        <p class="m-0 text-center text-white"><a class="footer-link" href="{% url 'about' %}">About</a></p>
        <p class="m-0 text-center text-white">Reach out</p>
        <p class="m-0 text-center text-white">More:
            <a class="footer-link" target="_blank" href="https://twitter.com/?lang=en"><i
                    class="fab fa-twitter fa-lg ms-3 footer-link"></i></a>
            <a class="footer-link" target="_blank" href="https://discord.com/"><i
                    class="fab fa-discord fa-lg ms-3 footer-link"></i>
        </p>
        <p class="m-0 text-center text-white">© 2022 work in progress</p>
    </footer>

    <!-- SCRIPT -->
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);

        // $('.masonry-container').imagesLoaded(function () {
        //     $('.masonry-container').masonry({
        //         itemSelector: '.item',
        //         isAnimated: true,
        //         isFitWidth: true
        //     });
        // });
    </script>
</body>

</html>