{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <h1>Contact</h1>
            <h4>Contact us directly if you have any questions</h4>
            <p>
                Please write your name, email address and a message below if you have any questions.
                One of our staff members will be happy to contact you directly and answer your questions as soon as
                possible.
            </p>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-grid col-6 mx-auto pt-4 pb-4">
                    <button type="submit" class="btn btn-lg">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}