{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <!-- DISCARD BUTTON -->
            <div class="d-flex justify-content-end">
                <form action="{% url 'home' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-negative btn-lg">Discard</button>
                </form>
            </div>

            <!-- CONTACT US FORM -->
            <h1 style="text-align:center">Contact</h1>
            <p>
                Please write your name, email address and a short message if you have any questions.
                One of our staff members will be happy to contact you directly and answer your questions as soon as
                possible.
            </p>
            <form method="post">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</div>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{%endblock%}