{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<!-- POST TITLE -->
<div class="container container-detail mb-4 p-4">
    <div class="row m-0 title-detail">
        <div class="col-xl-10 align-self-center">
            <h1 class="post-title pb-3 m-0">{{ post.title }}</h1>
            <p class="card-text text-details"> BY <a class="author"
                    href="{% url 'author_posts' post.author.id %}">{{ post.author|upper}}</a><span class="pipe">
                    |
                </span>{{ post.created|naturalday|upper }}
            </p>
        </div>
        <div class="col-xl-2 align-self-center">
            <img class="image-detail" src="{% static 'detail.jpg' %}" width="130" alt="">
        </div>
    </div>
</div>

<!-- POST BODY -->
<div class="container container-detail mb-3">
    <div class="row body-detail m-0">
        <!-- POST-BODY -->
        <div class="col-xl-12">
            <p class="post-body m-0"><i class="fa fa-quote-left fa-3x fa-pull-left"></i>
                {{ post.body | safe }}<i class="fa fa-quote-right fa-3x fa-pull-right"></i>
            </p>
        </div>

        <!-- HORIZONTAL LINE -->
        <div class="row m-0">
            <div class="col-xl-12">
                <hr>
            </div>
        </div>

        <!-- POST BUTTONS -->
        <div class="d-flex flex-nowrap pb-4 pt-4">
            <!-- POST LIKE -->
            <strong class="col-lg-2 d-flex justify-content-center">
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                            class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                            class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-details"><i class="far fa-heart"></i></span>
                {% endif %}
                <span class="text-details">&nbsp;{{ post.number_of_likes }}</span>
            </strong>

            <!-- POST DISLIKE -->
            <strong class="col-lg-2 d-flex justify-content-center">
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_dislike' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if disliked %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-dislike"><i
                            class="fas fa-heart-broken"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-dislike"><i
                            class="fas fa-heart-broken"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-details"><i class="fas fa-heart-broken"></i></span>
                {% endif %}
                <span class="text-details">&nbsp;{{ post.number_of_dislikes }}</span>
            </strong>

            <!-- COMMENT COUNT -->
            <strong class="col-lg-2 d-flex justify-content-center">
                <div class="text-details"><i class="far fa-comments"></i>
                    <!-- Our total_comments variable goes before the closing strong tag -->
                    &nbsp;{{ post.comments.count }}
                </div>
            </strong>

            <!-- POST EDIT -->
            {% if user.is_authenticated and user == post.author %}
            <strong class="col-lg-2 d-flex justify-content-center">
                <a href="{% url 'post_edit' post.id %}">
                    <i class="far fa-edit"></i>&nbsp;EDIT
                </a>
            </strong>
            {% endif %}
        </div>
    </div>
</div>

<!-- COMMENTS LIST -->
<div class="container mb-4">
    <div class="row m-0">

        <!-- COMMENT COUNTER TITLE -->
        <div class="comment-title mb-4 mt-4">
            {% if post.comments.count == 0 %}
            <h3> There are no comments yet</h3>
            {% else  %}
            <h3> {{ post.comments.count }} Comments</h3>
            {% endif %}
        </div>

        <!-- COMMENT LIST -->
        <div class="col-xl-8 mb-3">
            {% for comment in comments %}
            <div class="comments container-detail p-4 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>{{ comment.name }}</h4>
                    <div class="text-details card-text">{{ comment.created|naturalday|upper }}</div>
                </div>
                <div>{{ comment.body | linebreaks }}</div>

                <!-- COMMENT OPTIONAL BUTTONS -->
                {% if user.is_authenticated and user.username == comment.name %}
                <hr>
                <div class="d-flex flex-row-reverse">

                    <!-- DELETE COMMENT -->
                    <button type="button" class="btn-comment" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        DELETE
                    </button>
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Hey {{ user.username }}!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete your comment?
                                </div>
                                <div class="modal-footer">
                                    <form action="{% url 'post_detail' post.slug %}">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-negative" value="No, take me back">
                                    </form>
                                    <form method="POST" action="{% url 'comment_delete' comment.id %}">
                                        {% csrf_token %}
                                        <input type="submit" class="btn" value="Yes">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- EDIT COMMENT -->

                    <button class="btn-comment" type="submit" id="edit-comment">
                        EDIT
                    </button>
                    <form method="POST" action="{% url 'comment_edit' 49 %}" class="uniForm" id="edit-comment-form" style="margin-top: 1.3em;">
        
                        {% csrf_token %}
                        {{ comment_edit_form.as_p }}
                        <div class="d-grid col-6 mx-auto pt-4 pb-4">
                            <!-- <button type="submit" class="btn btn-lg">Submit</button> -->
                            <!-- <button class="btn-comment" type="submit" id="edit-comment">
                                EDIT2
                            </button> -->
                        </div>
                    </form>

                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
</div>

<!-- COMMENT BOX -->
<div class="container mt-4 mb-4">
    <div class="row m-0">
        <div class="col-xl-8">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}

            {% if user.is_authenticated %}

            <h3 class="mt-4">Contribute to the conversation</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" class="uniForm" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <div class="d-grid col-6 mx-auto pt-4 pb-4">
                    <button type="submit" class="btn btn-lg">Submit</button>
                </div>
            </form>
            {% else %}
            <p>Please log in or register if you want to join the conversation<p>
                    {% endif %}
                    {% endif %}
        </div>
    </div>
</div>

<!-- SUGGESTED POSTS LIST -->
<div class="container pt-4">
    <div class="mt-4 mb-4">
        <h2 class="d-flex justify-content-center">You may also like...</h2>
    </div>
    <div class="row pt-4 pb-4 m-0">
        {% for post in similar_posts %}
        <div class="col-xl-3 col-md-4">
            <div class="card mb-4">
                <div class="card-body card-bg">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top"
                                src="{% static 'placeholder.jpg' %}"></a>
                        {% else %}
                        <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top"
                                src=" {{ post.featured_image.url }}"></a>
                        {% endif %}
                    </div>
                    <div class="tags pt-2 pb-2">
                        <p class="card-text">
                            {% for tag in post.tags.all %}
                            <a class="tags text-details" href="{% url 'tag' tag.slug %}">{{ tag.name|upper }}</a>
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}">
                        <h2 class="card-title-small post-title">{{ post.title }}</h2>
                    </a>
                    <hr />
                    <p class="card-text text-details h6"> BY <a class="author"
                            href="{% url 'author_posts' post.author.id %}">{{ post.author|upper}}</a><span class="pipe">
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <h2>There are no similar posts yet</h2>

        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row m-0">
        {% endif %}
        {% endfor %}
    </div>

</div>

{% block javascript %}
<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#edit-comment").click(function (e) {
        console.log('test')
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $("#edit-comment-form").serialize();
        console.log(serializedData) 
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'comment_edit' 101 %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#edit-comment-form").save()
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        });

    })
</script>
{% endblock javascript %}

{% endblock content %}