{% extends 'base.html' %}
{% block title %} Boxscape: {{ post.title }} {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<!-- POST TITLE -->
<div class="container container-detail mb-4 mt-4 p-4">
    <div class="row m-0 title-detail">
        <div class="col-xl-10 align-self-center">
            <h2 class="post-title pb-4 m-0">{{ post.title }}</h2>
            <div class="card-text text-details"> BY <a class="author"
                    href="{% url 'author_posts' post.author.id %}">{{ post.author|upper}}</a>
                &nbsp;|&nbsp;
                {{ post.created|naturalday|upper }}
            </div>
        </div>
        <div class="col-xl-2 align-self-center">
            <img class="image-detail" src="{% static 'detail.jpg' %}" width="130"
                alt="the blog logo an open box laying on its side">
        </div>
    </div>
</div>

<!-- POST BODY -->
<div class="container container-detail mb-4 mt-4">
    <div class="row body-detail m-0">

        <!-- POST BODY TEXT -->
        <div class="col-xl-12">
            <div class="post-body m-0 p-4">
                <i class="fa fa-quote-left fa-3x fa-pull-left"></i>
                {{ post.body | safe | linebreaks }}
                <i class="fa fa-quote-right fa-3x fa-pull-right"></i>
            </div>
        </div>

        <!-- HORIZONTAL LINE -->
        <div class="row m-0">
            <div class="col-xl-12">
                <hr>
            </div>
        </div>

        <!-- POST BUTTONS -->
        <div class="container">
            <div class="row row-cols-lg-2 row-cols-3 p-4 m-0">

                <!-- POST LIKE -->
                <div class="col col-lg-2 d-flex justify-content-center">
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                class="fas fa-heart"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                class="far fa-heart"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-details"><i class="far fa-heart"></i></span>
                    {% endif %}
                    <span class="text-details">&nbsp;<strong>{{ post.number_of_likes }}</strong></span>
                </div>

                <!-- POST DISLIKE -->
                <div class="col col-lg-2 d-flex justify-content-center">
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_dislike' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if disliked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-dislike"><i
                                class="fas fa-heart-broken"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-dislike"><i
                                class="fas fa-heart-broken"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-details"><i class="fas fa-heart-broken"></i></span>
                    {% endif %}
                    <span class="text-details">&nbsp;<strong>{{ post.number_of_dislikes }}</strong></span>
                </div>

                <!-- COMMENT COUNT -->
                <div class="col col-lg-2 d-flex justify-content-center">
                    <div class="text-details"><i class="far fa-comments"></i>
                        &nbsp;<strong>{{ number_comments }}</strong>
                    </div>
                </div>

                {% if user.is_authenticated and user == post.author %}

                <!-- POST EDIT -->
                <div class="col-6 col-lg-2 gy-2 d-flex justify-content-center">
                    <a href="{% url 'post_edit' post.id %}">
                        <i class="far fa-edit"></i>&nbsp;<strong>EDIT</strong>
                    </a>
                </div>

                <!-- POST DELETE -->
                <div class="col-6 col-lg-2 gy-2 d-flex justify-content-center">
                    <button type="button" class="btn-comment" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        <i class="fas fa-trash"></i>&nbsp;<strong>DELETE</strong>
                    </button>
                </div>
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Hey {{ user.username }}!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete your post?
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'post_detail' post.slug %}">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-negative" value="No, take me back">
                                </form>
                                <form method="POST" action="{% url 'post_delete' post.pk %}">
                                    {% csrf_token %}
                                    <input type="submit" class="btn" value="Yes, I'm sure">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- COMMENTS -->
<div class="container mb-4 mt-4">
    <div class="row m-0">

        <!-- COMMENT COUNTER TITLE -->
        <div class="comment-title mb-4 mt-4">
            {% if number_comments == 0 %}
            <h4 class="no-comment mt-4 text-center"> No comments yet <br>Be the first to share what you think!</h4>
            {% elif number_comments == 1 %}
            <h3> {{ number_comments }} Comment</h3>
            {% else  %}
            <h3> {{ number_comments }} Comments</h3>
            {% endif %}
        </div>

        <!-- COMMENT LIST -->
        <div class="col-xl-8">
            {% for comment in comments %}
            <div class="comments container-detail p-4 mb-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>{{ comment.name }}</h4>
                    <div class="text-details card-text">{{ comment.created|naturalday|upper }}</div>
                </div>
                <div>{{ comment.body | linebreaks }}</div>

                <!-- COMMENT OPTIONAL BUTTONS -->
                {% if user.is_authenticated and user.username == comment.name %}
                <hr>
                <div class="d-flex flex-row-reverse">

                    <!-- DELETE COMMENT -->
                    <button type="button" class="btn-comment" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        DELETE
                    </button>
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Hey {{ user.username }}!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete your comment?
                                </div>
                                <div class="modal-footer">
                                    <form action="{% url 'post_detail' post.slug %}">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-negative" value="No, take me back">
                                    </form>
                                    <form method="POST" action="{% url 'comment_delete' comment.id %}">
                                        {% csrf_token %}
                                        <input type="submit" class="btn" value="Yes, I'm sure">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- EDIT COMMENT -->
                    <button class="btn-comment">
                        <a href="{% url 'comment_edit' comment.id %}">
                            EDIT
                        </a>
                    </button>

                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- COMMENT BOX -->
<div class="container mb-4 mt-4 pb-4">
    <div class="row m-0">
        <div class="col-xl-8">
            <!-- COMMENT SUCCESS MESSAGE -->
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}

            {% if user.is_authenticated %}

            <h3 class="mt-4">Contribute to the conversation</h3>
            Posting as: {{ user.username }}
            <form method="post" class="uniForm" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <div class="d-grid col-6 mx-auto pt-4 pb-4">
                    <button type="submit" class="btn btn-lg">Submit</button>
                </div>
            </form>
            {% else %}
            Please log in or register if you want to join the conversation
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<!-- SUGGESTED POSTS LIST -->
<div class="container mt-4 mb-4">
    <div class="mb-4 mt-4 pt-4 pb-4">
        <h2 class="d-flex justify-content-center">You may also like...</h2>
    </div>
    <div class="row pt-4 pb-4 m-0">
        {% for post in similar_posts %}
        <div class="col-xl-3 col-md-4">
            <div class="card mb-4">
                <div class="card-body card-bg">
                    <div class="image-container">
                        <!-- TO DISPLAY PICTURES UPLOADED TO CLOUDINARY FROM ADMIN PANEL -->
                        <!-- {% if "placeholder" in post.featured_image.url %}
                            <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top"
                                    src="{% static 'placeholder.jpg' %}" alt="the blog logo an open box laying on its side"></a>
                            {% else %}
                            <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top"
                                    src=" {{ post.featured_image.url }}" alt="an image related to the post content"></a>
                            {% endif %} -->
                        {% if post.list_image %}
                        <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top"
                                src=" {{ post.list_image }}" alt="an image related to the post content"></a>
                        {% else %}
                        <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top"
                                src="{% static 'placeholder.jpg' %}"
                                alt="the blog logo an open box laying on its side"></a>
                        {% endif %}
                    </div>
                    <div class="tags pt-2 pb-2">
                        <div class="card-text">
                            {% for tag in post.tags.all %}
                            <a class="tags text-details" href="{% url 'tag' tag.slug %}">{{ tag.name|upper }}</a>
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}">
                        <h2 class="card-title-small post-title">{{ post.title }}</h2>
                    </a>
                    <hr />
                    <div class="card-text text-details h6"> BY <a class="author"
                            href="{% url 'author_posts' post.author.id %}">{{ post.author|upper}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <h2>There are no similar posts yet</h2>

        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row m-0">
        {% endif %}
        {% endfor %}
    </div>

</div>

{% block javascript %}

<!-- to prevent double submission on refresh page -->
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    $(".alert-success").delay(5000).slideUp(500, function () {
        $(this).alert('close');
    });
</script>
{% endblock %}

{% endblock content %}