{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<!-- TITLE -->
<div class="container container-detail mb-3">
    <div class="row title-detail">
        <div class="col-xl-10">
            <h1 class="post-title pb-3">{{ post.title }}</h1>
            <p class="card-text text-details h6 "> BY <a class="author"
                    href="{% url 'author_posts' post.author.id %}">{{ post.author|upper}}</a><span class="pipe">
                    |
                </span>{{ post.created|naturaltime|upper }}
            </p>
        </div>
        <div class="col-xl-2">
            <img class="image-detail" src="{% static 'detail.jpg' %}" width="130" alt="">
        </div>
    </div>
</div>

<!-- POST BODY -->
<div class="container container-detail mb-3">
    <div class="row body-detail">
        <!-- POST-BODY -->
        <div class="col-xl-12  mb-4  mt-3 left  top">
            <p class="post-body">
                {{ post.body | safe }}
            </p>
        </div>
        <!-- HORIZONTAL LINE -->

        <div class="row">
            <div class="col-xl-12">
                <hr>
            </div>
        </div>

        <!-- BUTTONS DIV -->
        <div class="col-xl-12">
            <div class="row">
                <!-- LIKE -->
                <strong class="col-xl-1">
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug%}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                class="fas fa-heart"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                class="far fa-heart"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-details"><i class="far fa-heart"></i></span>
                    {% endif %}
                    <span class="text-details">{{ post.number_of_likes }}</span>
                    <!--share post-->
                </strong>

                <!--DISLIKE DIV-->
                <strong class="col-xl-1">
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_dislike' post.slug%}" method="POST">
                        {% csrf_token %}
                        {% if disliked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-dislike"><i
                                class="fas fa-heart-broken"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-dislike"><i
                                class="fas fa-heart-broken"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-details"><i class="far fa-heart-broken"></i></span>
                    {% endif %}
                    <span class="text-details">{{ post.number_of_dislikes }}</span>
                </strong>

                <!-- COMMENT COUNT -->
                <strong class="col-xl-1">
                    <div class="text-details"><i class="far fa-comments"></i>
                        <!-- Our total_comments variable goes before the closing strong tag -->
                        {{ post.comments.count }}
                    </div>
                </strong>

                <!-- SHARE -->
                <strong class="col-xl-1">
                    <a href="{% url 'post_share' post.slug %}">
                        <i class="fas fa-share"></i>
                    </a>
                </strong>
            </div>
        </div>
    </div>
</div>

<!-- COMMENT TITLE -->
<div class="comment-title">
    {% if post.comments.count == 1 %}
    <h3> {{ post.comments.count }} Comment</h3>
    {% else %}
    <h3> {{ post.comments.count }} Comments</h3>
    {% endif %}
</div>

<!-- COMMENTS LIST -->
<div class="container mb-3">
    <div class="row">
        <div class="col-xl-8 container-detail">
            {% for comment in comments %}
            <div class="comments p-4 mb-3">
                <p class="font-weight-bold">
                    <h2>{{ comment.name }}</h2>
                    <span class=" text-details font-weight-normal">
                        {{ comment.created }}
                    </span>
                </p>
                <div>{{ comment.body | linebreaks }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- COMMENT BOX -->
<div class="container mb-3">
    <div class="row">
        <div class="col-xl-8">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}

            {% if user.is_authenticated %}

            <h3>Contribute to the conversation:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" class="uniForm" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<h3>Similar posts</h3>
<div class="container mb-3">
    <div class="row gx-5">
        {% for post in similar_posts %}
        <div class="col-xl-2 col-md-3 col-sm-4">
            <div class="image" style="width: 15rem;">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'placeholder.jpg' %}">
                {% else %}
                <img src=" {{ post.featured_image.url }}">
                {% endif %}
            </div>
            <div>
                <h3>
                    <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                </h3>
            </div>
        </div>
        {% empty %}
        <h2>There are no similar posts yet</h2>
        {% endfor %}
    </div>
</div>


{% endblock content %}