{% extends 'base.html' %}
{% block title %} Create a new Post {% endblock %}
{% load static %}


{% block content %}

<!-- ALERT MESSAGE -->
<div class="container mt-4 mb-4">
    <div class="row m-0 justify-content-center">
        <div class="col-xl-8">

            {% if created %}
            <div class="alert alert-success" role="alert">
                Your post is awaiting approval
                <script type="text/javascript">
                    setTimeout(function () {
                        window.location.href = "{% url 'home' %}";
                    }, 2500);
                </script>
            </div>
            {% else %}

            <!-- CREATE POST SECTION -->
            {% if user.is_authenticated %}

            <!-- DISCARD BUTTON -->
            <div class="d-flex justify-content-end">
                <form action="{% url 'home' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-negative btn-lg mb-3">Discard</button>
                </form>
            </div>
            
            <!-- CREATE POST FORM -->
            <h3 class="mt-4 text-center">Have your say:</h3>
            <p>Posting as: {{ user.username }}</p>
            <div class="form-group">
                <form method="post" action="{% url 'post_create' %}" enctype="multipart/form-data" class="uniForm"
                    style="margin-top: 1.3em;">
                    {% csrf_token %}
                    {{form.as_p | safe}}
                    <div class="d-grid col-6 mx-auto mb-4 mt-4">
                        <button type="submit" class="btn btn-lg">Submit</button>
                    </div>
            </div>
            {% else %}
            <h3 style="text-align:center">You must login or register before posting.</h3>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}