<div class="container-fluid pt-4">
    <div class="row flex-shrink-0">
        {% for post in similar_posts %}
        <div class="col-xl-2 col-md-4">
            <div class="card mb-4">
                <div class="card-body card-bg">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top"
                                src="{% static 'placeholder.jpg' %}"></a>
                        {% else %}
                        <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top"
                                src=" {{ post.featured_image.url }}"></a>
                        {% endif %}
                    </div>
                    <div class="tags pt-2 pb-2">
                        <p class="card-text">
                            {% for tag in post.tags.all %}
                            <a class="tags text-details" href="{% url 'tag' tag.slug %}">{{ tag.name|upper }}</a>
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}">
                        <h2 class="card-title post-title">{{ post.title }}</h2>
                    </a>
                    <hr />
                    <p class="card-text text-details h6"> BY <a class="author"
                            href="{% url 'author_posts' post.author.id %}">{{ post.author|upper}}</a><span
                            class="pipe"> |
                        </span>{{ post.created|naturaltime|upper }}<span class="pipe"> | </span>
                        <strong class="text-details"><i class="far fa-comments"></i>
                            {{ post.comments.count }}</strong>
                    </p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 %}
    </div>
    <div class="row flex-shrink-0">
        {% endif %}
        {% endfor %}
    </div>
</div>